<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: header ('新增销售人员')}"></head>
<body>
<div class="container">
  <h1>新增销售人员</h1>
  <div class="alert alert-warning" th:if="${msg != null}" th:text="${msg}"></div>
  <form method="post" th:action="@{/admin/addSalesman}" th:object="${salesman}">
    <div class="form-group">
      <label for="username">用户名</label>
      <input class="form-control" placeholder="用户名长度为3~20个字符"
             required th:field="*{username}">
      <div class="text-danger" th:errors="*{username}"
           th:if="${#fields.hasErrors('username')}">Username Error</div>
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input class="form-control" placeholder="密码由6~20个阿拉伯数字或大小写英文字母组成"
             required th:field="*{password}" type="password">
      <div class="text-danger" th:errors="*{password}"
           th:if="${#fields.hasErrors('password')}">Password Error</div>
    </div>
    <button class="btn btn-primary" type="submit">提交</button>
  </form>
</div>
</body>
</html>