<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: header ('商品列表')}"></head>
<body>
<div class="container card-columns">
  <div class="card mw-25 mh-100" th:each="item:${itemList}">
    <img class="card-img-top" th:src="@{|/upload/${item.image}|}">
    <div class="card-body">
      <h4 class="card-title" th:text="${item.name}"></h4>
      <p class="card-text" th:text="'￥' + ${item.price}"></p>
      <p class="card-text" th:text="'库存：' + ${item.inventory}"></p>
      <p class="card-text" th:text="'销售员：' + ${item.salesman.username}"></p>
      <a th:href="@{|/order/addItem/${item.id}|}" class="btn btn-primary">购买</a>
    </div>
  </div>
</div>
</body>
</html>